@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
/*   color variables */
/*   border radius */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
  color: #4f546c;
}
.wrapper {
  margin: 2rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  justify-content: center;
}
.card {
  box-shadow: 0 0 10px 5px #e1e5ee;
  border-radius: 0.2rem;
  min-width: 28rem;
  display: flex;
}
.card__img {
  width: 14rem;
  height: 11rem;
  object-fit: cover;
}
.card__body {
  margin: 1rem;
  flex-grow: 1;
}
.card__title {
  line-height: 1.4rem;
  margin-bottom: 0.5rem;
}
.card__description {
  line-height: 1.2rem;
}
.card__price {
  font-size: 1.4rem;
  margin-top: 0.6rem;
}
.card__price::before {
  content: "$";
  font-size: 1rem;
  position: relative;
  top: -0.3rem;
  padding-right: 0.1rem;
}
.card__btn {
  border: none;
  border-top: 1px solid #e1e5ee;
  background-color: transparent;
  font-family: inherit;
  font-size: 1rem;
  font-weight: bold;
  color: inherit;
  width: 100%;
  padding-top: 1rem;
  margin-top: 1rem;
  cursor: pointer;
}
.card__btn:hover {
  color: #0e48fe;
}
@media screen and (min-width: 600px) {
  .wrapper {
    grid-template-columns: repeat(auto-fit, minmax(14rem, 16rem));
  }
  .card {
    flex-direction: column;
    text-align: center;
    min-width: 14rem;
  }
  .card__img {
    width: 100%;
    height: 12rem;
  }
}

/* report page */
.reportsWrapper {
  display: grid;
  place-items: center;
  gap: 1rem;
}
.reportsBox {
  position: relative;
  border: 1px solid;
  width: 80%;
  min-width: 50rem;
  height: 6.5rem;
}
.orderNumber {
  float: right;
}
.orderDate {
  width: 6rem;
  height: 1rem;
  text-align: center;
  bottom: 0.25rem;
  left: -0.5rem;
  position: absolute;
}
.orderPictures {
  border: 1px solid;
  width: 40rem;
  height: 5rem;
}
.approvals {
  position: absolute;
  height: 1.3rem;
  width: 40rem;

  bottom: 0.05rem;
  right: 0rem;
}
.regApproval {
  height: 100%;
  width: 33.33%;
  float: left;
}
.vpApproval {
  height: 100%;
  width: 33.33%;
  float: right;
}
.clerkApproval {
  height: 100%;
  width: 33.33%;
  float: right;
}
.approvalTag {
background-color:  #32CA76;
border-radius: 7px;
width: 99%;
color: #FFF;
text-align: center;
font-size: 1rem;
line-height: 1.4rem;
}
.waitingTag {
background-color:  #FEEFB3;
border-radius: 7px;
width: 99%;
color: #FFF;
text-align: center;
font-size: 1rem;
line-height: 1.4rem;
}
.deniedTag {
background-color:  #D8000C;
border-radius: 7px;
width: 99%;
color: #FFF;
text-align: center;
font-size: 1rem;
line-height: 1.4rem;
}

/* place order page */
.checkout {
  position: relative;
  display: grid;
  place-items: center;
}
.checkoutCard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "checkoutPicture checkoutTitle checkoutItemCount checkoutPrice";
}

.checkoutPrice {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". checkoutPriceData checkoutPriceData"
    ". . ."
    ". . .";
  grid-area: checkoutPrice;
}

.checkoutPriceData { 
  grid-area: checkoutPriceData; 
  justify-self: end;
}

.checkoutTitle { grid-area: checkoutTitle; }

.checkoutPicture { 
  grid-area: checkoutPicture;
  height: 6rem;
}

.checkoutItemCount { 
  grid-area: checkoutItemCount; 
  justify-self: end;
  align-self: center;
}

.orderCount {
  border: darkslategray solid;
  border-radius: 12%;
  text-align:center
}
.orderinput {
  max-width: 1.5rem;
  height: 1.5rem;
  text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.minMaxButton {
background-color: #f1f1f1;
color: black;
width: 1rem;
height: 1.5rem;
display: flex;
align-items: center;
justify-content: center;
cursor: pointer;
}
.right {
  float: right
}
.left {
  float: left
}

/* messages page */
.messages {
  margin: auto;
  width: 80%;
}
.ordersList {
  margin: auto;
  width: 45rem;
}
.orders {
  margin-bottom: 1rem;
  box-shadow: 0 0 10px 5px #e1e5ee;
  border-radius: 1rem;
  padding: 0.5rem;
}
.messagesImagesDiv {
  margin-top: 1.3rem;
	max-height: 6rem;
}
.messagesImage {
	max-height: 6rem;
}

.approvalWrapper {
  display: inline-block;
  width: 40rem;
  max-height: 2rem;
  height: 1.5rem;
  text-align: center;
}
.clerk {
  display: inline-block;
  border-radius: 1rem;
}
.regional {
  display: inline-block;
  border-radius: 1rem;
}
.vp {
  display: inline-block;
  border-radius: 1rem;
}
.approved {
  height: 100%;
  width: 33.33%;
  background-color: rgb(40, 165, 40);
  color: white;
}
.denied {
  height: 100%;
    width: 33.33%;
    background-color: rgb(211, 18, 18);
    color: white;
}
.waitingApproval {
    height: 100%;
    width: 33.33%;
    background-color: rgb(197, 186, 38);
}
.messagesOrderNumber {
  float: left;
  top: 0px;
  max-width: 40rem;
  height: 0.5rem;
}
.messagesCloseOrder {
  float: right;
  top: 0rem;
  padding-right: 0.7rem;
}

.MSDS {
  margin: auto;
  width: 80%;
}

.seachbar_wrapper div {
  position: relative;
}
.seachbar_wrapper input {
	width: 100%;
	font-size: 30px;
	border-radius: 8px;
	padding: 5px;
}
.seachbar_wrapper span {
	position: absolute;
	font-size: 35px;
	right: 10px;
	cursor: pointer;
}